{% extends "base.html" %}
{% block content %}
<section class="animal-page">
    <div class="animal-gallery">
        {% if photos%}
            <img src="{{ url_for('static', filename=photos[0].photo_url) }}" alt="{{ animal.name }}" class="main-animal-photo">

            <div class="animal-thumbnails">
                {% for photo in photos %}
                    <img src="{{ url_for('static', filename=photo.photo_url) }}" alt="{{ animal.name }}">
                {% endfor %}
            </div>
        {% else %}
            <img src="{{ url_for('static', filename='images/no-image.png') }}" alt="{{ animal.name }}" class="main-animal-photo">
        {% endif %}
    </div>

    <div class="animal-info">
        <h1>{{ animal.name }}</h1>
        <p><strong>Тип:</strong>{{ animal.type }}</p>
        <p><strong>Порода:</strong>{{ animal.breed or 'Невідомо' }}</p>
        <p><strong>Стать:</strong>{{ animal.sex }}</p>
        <p><strong>Вік:</strong>{{ animal.age_months }}</p>
        <p><strong>Розмір:</strong>{{ animal.size }}</p>
        <p><strong>Колір:</strong>{{ animal.color or 'Невідомо' }}</p>
        <p><strong>Стерилізація:</strong>{{ 'Так' if animal.sterilized else 'Ні' }}</p>
        <p><strong>Вакцинація:</strong>{{ 'Так' if animal.vaccinated else 'Ні' }}</p>
        <p><strong>Стан здоров'я:</strong>{{ animal.health_status or 'Не вказано' }}</p>
        <p><strong>Опис:</strong>{{ animal.description or 'Відсутній' }}</p>

        <h3>Притулок</h3>
        <p>{{ animal.shelter_name }}</p>
        <p>{{ animal.shelter_city }}</p>
        <p>{{ animal.shelter_phone }}</p>
        <p>{{ animal.shelter_email }}</p>

        <a href="{{ url_for(auth.login') }}">Подати заявку на адопцію</a>
    </div>
</section>
{% endblock %}